.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-home {
    width: 100%;
    height: 3504px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .home-content1 {
    top: 175px;
    left: 0px;
    width: 1261.9888916015625px;
    height: 823px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle4 {
    top: 0px;
    left: 0px;
    width: 1262px;
    height: 478px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle20 {
    top: 464px;
    left: 0px;
    width: 1261px;
    height: 359px;
    position: absolute;
    border-radius: 10px;
  }
  .home-content2 {
    top: 175px;
    left: 1452.477783203125px;
    width: 479.1986083984375px;
    height: 230px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle5 {
    top: 0px;
    left: 0px;
    width: 259px;
    height: 108px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle6 {
    top: 122px;
    left: 205.37081909179688px;
    width: 274px;
    height: 108px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle22 {
    top: 122px;
    left: 0px;
    width: 238px;
    height: 108px;
    position: absolute;
  }
  .home-rectangle23 {
    top: 0px;
    left: 238.11111450195312px;
    width: 241px;
    height: 108px;
    position: absolute;
    border-radius: 10px;
  }
  .home-content3 {
    top: 429px;
    left: 1452.477783203125px;
    width: 479.1986083984375px;
    height: 569px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle7 {
    top: 0px;
    left: 0px;
    width: 479px;
    height: 346px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle21 {
    top: 324px;
    left: 0px;
    width: 479px;
    height: 245px;
    position: absolute;
    border-radius: 10px;
  }
  .home-content4 {
    top: 1059px;
    left: 93.75625610351562px;
    width: 1379.556396484375px;
    height: 1862px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle8 {
    top: 73px;
    left: 38.69306182861328px;
    width: 1341px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle9 {
    top: 73px;
    left: 38.69306182861328px;
    width: 442px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle17 {
    top: 1713px;
    left: 0px;
    width: 481px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle16 {
    top: 1508px;
    left: 17.858333587646484px;
    width: 463px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle12 {
    top: 688px;
    left: 38.69306182861328px;
    width: 442px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle13 {
    top: 893px;
    left: 38.69306182861328px;
    width: 442px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle14 {
    top: 1098px;
    left: 38.69306182861328px;
    width: 442px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle15 {
    top: 1303px;
    left: 17.858333587646484px;
    width: 463px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle11 {
    top: 494px;
    left: 38.69306182861328px;
    width: 442px;
    height: 138px;
    position: absolute;
  }
  .home-rectangle10 {
    top: 278px;
    left: 38.69306182861328px;
    width: 442px;
    height: 149px;
    position: absolute;
  }
  .home-rectangle25 {
    top: 73px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle26 {
    top: 278px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle27 {
    top: 483px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle28 {
    top: 688px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle29 {
    top: 893px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle30 {
    top: 1098px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle31 {
    top: 1303px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle33 {
    top: 1713px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-rectangle32 {
    top: 1508px;
    left: 439.0174255371094px;
    width: 941px;
    height: 149px;
    position: absolute;
    border-radius: 10px;
  }
  .home-text10 {
    left: 38.69306182861328px;
    color: rgba(0, 0, 0, 1);
    width: 357px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-content5 {
    top: 1132px;
    left: 1520.9346923828125px;
    width: 507.47430419921875px;
    height: 969px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle24 {
    top: 0px;
    left: 0px;
    width: 507px;
    height: 969px;
    position: absolute;
  }
  .home-text12 {
    top: 38px;
    left: 38.693084716796875px;
    color: rgba(0, 0, 0, 1);
    width: 357px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-endbar {
    top: 2987px;
    left: 0px;
    width: 2144.48828125px;
    height: 588px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle3 {
    top: 0px;
    left: 0px;
    width: 2144px;
    height: 588px;
    position: absolute;
  }
  .home-text14 {
    top: 427px;
    left: 909.7653198242188px;
    color: rgba(173, 173, 173, 1);
    width: 355px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text16 {
    top: 49px;
    left: 978.701416015625px;
    color: rgba(173, 173, 173, 1);
    width: 192px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text18 {
    top: 166px;
    left: 1014.4951782226562px;
    color: rgba(173, 173, 173, 1);
    width: 117px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text20 {
    top: 225px;
    left: 883.2514038085938px;
    color: rgba(173, 173, 173, 1);
    width: 426px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-followuslogo {
    top: 87px;
    left: 909.7652587890625px;
    width: 287.6756896972656px;
    height: 57px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-youtubelogo {
    top: 0px;
    left: 0px;
    width: 101px;
    height: 57px;
    position: absolute;
  }
  .home-igicon {
    top: 0px;
    left: 100.75277709960938px;
    width: 106px;
    height: 57px;
    position: absolute;
  }
  .home-facebooklogo {
    top: 0px;
    left: 220.06527709960938px;
    width: 68px;
    height: 57px;
    position: absolute;
  }
  .home-menubar {
    top: -2px;
    left: 0px;
    right: 0px;
    width: 1320px;
    height: 169px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-rectangle1 {
    top: 32px;
    left: 0px;
    width: 1320px;
    height: 77px;
    position: absolute;
    border-radius: 26px;
  }
  .home-text22 {
    top: 56px;
    left: 49px;
    color: rgba(173, 173, 173, 1);
    width: 75px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text24 {
    top: 56px;
    left: 415px;
    color: rgba(173, 173, 173, 1);
    width: 76px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text26 {
    top: 56px;
    left: 140px;
    color: rgba(173, 173, 173, 1);
    width: 76px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text28 {
    top: 56px;
    left: 232px;
    color: rgba(173, 173, 173, 1);
    width: 75px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text30 {
    top: 56px;
    left: 324px;
    color: rgba(173, 173, 173, 1);
    width: 75px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Marko One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-yocancooklogo {
    top: 0px;
    left: 1049px;
    width: 219px;
    height: 169px;
    position: absolute;
  }
  .home-searchbox {
    top: 47px;
    left: 877px;
    width: 181px;
    height: 46px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(53, 53, 53, 1);
  }
  .home-ellipse3 {
    top: 5px;
    left: 136px;
    width: 36px;
    height: 37px;
    position: absolute;
  }
  .home-searchlogo {
    top: 11px;
    left: 165px;
    width: 23px;
    height: 24px;
    position: absolute;
  }
  